/* home.css */
.home {
  background: var(--white);
}

.home section {
  min-height: calc(100vh - var(--navHeight));
  margin-top: var(--navHeight);
  position: relative;
  background: var(--white);
  height: calc(100vh - (var(--sitePadding) + var(--navHeight) + (var(--navPadding) / 2)));
}

.home section + .home section {
  margin-top: 0;
}

.home .me {
  bottom: 0;   /* position fixed using className 'fixed' */
  width: auto;
  right: 50%;
  transform: translateX(50%);
  max-height: calc(100vh - var(--navHeight));
}

@media (min-width: 768px) {
  .home .me {
    right: 0;
    transform: translateX(0);
  }
}