/* home.css */
.home {
  /* background: red; */
}

.home section.site-home-section {
  height: calc(100vh - var(--navHeight));
  margin-top: var(--navHeight);
}

.home section.site-home-section + .home section.site-home-section {
  margin-top: 0;
}

.site-home-section {
  position: relative;
  background: white;
  height: calc(100vh - (var(--sitePadding) + var(--navHeight) + (var(--navPadding) / 2)));
}

.site-home-section + .site-home-section {
  margin-top:calc(var(--navHeight) + var(--navPadding));
}