/*.main-resume.css */
.main-resume {
  padding: 3rem;
}

.resume-page * {
  font-family: var(--fontFamilyRegular);
}

.resume-page label + div,
.resume-page label + p {
  margin-top: 0.5em;
}

.printing {
  display: none;
  width: 612px;
  height: 792px;
  padding: 72px;
  box-sizing: border-box;
  font-size: 10px;
  background: white;
  color: black;
}

.experience .experience-item {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .main-resume {
    width: 612px;
    height: 792px;
    background: var(--siteBackground);
    margin: 30px auto;
    padding: 72px;
    box-shadow: var(--boxShadowOut);
    font-size: 10px;
  }

  .experience .experience-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
