/* clicktool.css */

.clicktool section {
    min-height: calc(100vh - var(--navHeight));
    /* margin: 0 var(--navHeight); */
}

.clicktool section + section {
    min-height: 100vh;
}

.clicktool .sticky-top {
    position: sticky;
    top: var(--navHeight);
}

.clicktool .geometry {
    height: 100%;
}

.clicktool .geometry svg {
    transform: rotate(90deg);
    min-width: calc(100vh - var(--navHeight));
}

.clicktool p {
    margin-top: 0;
}

@media (min-width: 992px) {
    .clicktool .geometry svg {
        transform: rotate(0deg);
        max-width: 100vw;
        min-width: unset;
    }
}