/* about.css */
.resume {
  width: 612px;
  height: 792px;
  background: var(--siteBackground);
  margin: 0 auto;
  padding: 72px;
  box-shadow: var(--boxShadowOut);
  font-size: 11px;
}

.about .skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -6px;
}

.about .skills-section .skill {
  margin: 6px;
}
.about .skills-section .skill,
.about .university-logo {
  height: 36px;
  width: 36px;
  border-radius: 24px;
  background: var(--neutral7);
}

.about .university-logo {
  margin-right: 12px;
}

.about label {
  font-size: 8px;
  padding-top: 4px;
  margin-right: 12px;
}

.about p {
  margin: 0;
}

.printing {
  display: none;
  max-width: 612px;
  max-height: 792px;
  padding: 72px;
  box-sizing: border-box;
  font-size: 10px;
  background: white;
  color: black;
}
