/* site.css */

.site {
  min-height: 100vh;
  padding: var(--sitePadding);
  position: relative;
  padding-top: var(--navHeight);
  background: var(--siteBackground);
}

button.contact-button {
  position: fixed;
  bottom: 2.5em;
  right: 2.75em;
  z-index: 1;
}