/* site.css */

.site {
  min-height: 100vh;
  padding: var(--sitePadding);
  position: relative;
  padding-top: var(--navHeight);
  background: var(--siteBackground);
}

button.contact-button {
    position: sticky;
    bottom: 2em;
    left: calc(100% - 14em);
    z-index: 1;
    margin-bottom: 2em;
}