/* site.css */

.site {
  min-height: 100vh;
  padding: var(--sitePadding);
  position: relative;
  padding-top: var(--navHeight);
  background: var(--siteBackground);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button.contact-button {
    position: -webkit-sticky;
    position: sticky;
    bottom: 2em;
    width: calc(100% - 8em);
    z-index: 1;
    margin: 0 4em 2em 4em;
    background: var(--blackTrans);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    border: 1px solid var(--blackTrans);
}

button.contact-button:active {
  -webkit-box-shadow: var(--boxShadowIn);
          box-shadow: var(--boxShadowIn);
}

@media (min-width: 992px) {
  button.contact-button {
    width: auto;
    margin: 0 2em 2em auto;
  }
}