/* home.css */
/* .home {
  background: var(--white);
} */

.home section {
  min-height: calc(100vh - var(--navHeight));
  position: relative;
  height: calc(
    100vh - (var(--sitePadding) + var(--navHeight) + (var(--navPadding) / 2))
  );
}

.home section + section {
  margin-top: 0;
  height: 100vh;
}

.home section:last-of-type {
  margin-bottom: -5em;
}

.home .me {
  bottom: 0; /* position fixed using className 'fixed' */
  width: auto;
  right: 50%;
  transform: translateX(50%);
  max-height: calc(100vh - var(--navHeight));
}

.deseloper {
  font-size: 12vw;
}

.colors {
  position: -webkit-sticky;
  position: sticky;
  top: 4.4em;
}

@media (min-width: 768px) {
  .home .me {
    right: 0;
    transform: translateX(0);
  }

  .deseloper {
    font-size: 5vw;
  }
}
